 <div class="col-xs-9">
        <% @items.each do |item| %>
            <div class="item-box">
                <table class="table">
                    <tr>
                        <th><%= link_to item_path(item) do %>
                           	 <%= image_tag item.get_image(180,130) %>
                            <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th><%= link_to item.name, item_path(item) %></th>
                    </tr>
                    <tr>
                        <th>￥<%= (item.price * 1.1).to_i %></th>
                    </tr>
                </table>
            </div>
        <% end %>
        <%= paginate @items %>
    </div>
</div>
